/*[===============
      base style 
  ===============]*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

// Remove Default style tag
*,
*::before,
*::after{
 box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul{
    margin: 0;
    padding: 0;
}
ul{
	list-style: none;
}

.nav-link,a{
    text-decoration: none;
    color: #000;
    &:hover{
        color: #000;
    }
}


// set default color 
$primary_color: #00158b;
$secondary_color: #d5d9f2;

// set default font
body{
    font-family: 'Poppins', sans-serif;  
    overflow-x: hidden;
}


// default animation class
.midSaleBg {
	background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,21,139,1) 0%, rgba(0,21,139,1) 35%, rgba(0,212,255,1) 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.btn-sm{
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    border-radius: 0.2rem;
}

.animate-text {
	background-image: linear-gradient(-225deg,
	#00158B 0%,
	#0075D5 29%,
			#004BBC 67%,
			#00C0CD 100%);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textanim 2s linear infinite;
	display: inline-block;
}

@keyframes textanim {
	to {
		background-position: 200% center;
	}
}
// title default style
.main-title{
    line-height: 50px;
    font-size: 36px;
}

.info-text{
    font-size: 19px;
    line-height: 30px;
}

.py_100{
	padding: 100px 0;
}
.fs-title{
	font-size: 2.5rem !important;
}
// sticky navbar class css
.sticky{
	position: fixed;
	z-index: 99;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	background: #fff !important;
	top: 0;
	left: 0;
	width: 100%;
}
.active{
	background: $primary_color !important;
	color: #fff !important;
}