/*[===============
      base style 
  ===============]*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.nav-link, a {
  text-decoration: none;
  color: #000;
}

.nav-link:hover, a:hover {
  color: #000;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.midSaleBg {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#00158b), color-stop(35%, #00158b), to(#00d4ff));
  background: linear-gradient(90deg, #00158b 0%, #00158b 35%, #00d4ff 100%);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  border-radius: 0.2rem;
}

.animate-text {
  background-image: linear-gradient(-225deg, #00158B 0%, #0075D5 29%, #004BBC 67%, #00C0CD 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textanim 2s linear infinite;
          animation: textanim 2s linear infinite;
  display: inline-block;
}

@-webkit-keyframes textanim {
  to {
    background-position: 200% center;
  }
}

@keyframes textanim {
  to {
    background-position: 200% center;
  }
}

.rounded-img {
  border-radius: .8rem;
}

.main-title {
  line-height: 50px;
  font-size: 36px;
}

.info-text {
  font-size: 19px;
  line-height: 30px;
}

.py_100 {
  padding: 100px 0;
}

.fs-title {
  font-size: 2.5rem !important;
}

.sticky {
  position: fixed;
  z-index: 99;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background: #fff !important;
  top: 0;
  left: 0;
  width: 100%;
}

header::before {
  content: '';
  width: 900px;
  height: 900px;
  position: absolute;
  top: -190px;
  right: -80px;
  background: #d5d9f2;
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
  border-radius: 50px;
  z-index: -1;
}

header .offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-wrapper {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .navbar-wrapper ul li {
  margin: 0 .8rem;
}

header .navbar-wrapper ul li a {
  font-weight: 500;
  padding: 0.5rem 1.2rem;
  color: #212529;
  font-size: 17px;
}

/*[===============
      base style 
  ===============]*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.nav-link, a {
  text-decoration: none;
  color: #000;
}

.nav-link:hover, a:hover {
  color: #000;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.midSaleBg {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#00158b), color-stop(35%, #00158b), to(#00d4ff));
  background: linear-gradient(90deg, #00158b 0%, #00158b 35%, #00d4ff 100%);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  border-radius: 0.2rem;
}

.animate-text {
  background-image: linear-gradient(-225deg, #00158B 0%, #0075D5 29%, #004BBC 67%, #00C0CD 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textanim 2s linear infinite;
          animation: textanim 2s linear infinite;
  display: inline-block;
}

@keyframes textanim {
  to {
    background-position: 200% center;
  }
}

.rounded-img {
  border-radius: .8rem;
}

.main-title {
  line-height: 50px;
  font-size: 36px;
}

.info-text {
  font-size: 19px;
  line-height: 30px;
}

.py_100 {
  padding: 100px 0;
}

.fs-title {
  font-size: 2.5rem !important;
}

.sticky {
  position: fixed;
  z-index: 99;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background: #fff !important;
  top: 0;
  left: 0;
  width: 100%;
}

#hero-secton {
  min-height: 74vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

#hero-secton .text-green {
  color: #00158b;
}

#hero-secton .hero-img-wrapper {
  position: relative;
}

#hero-secton .hero-img-wrapper img {
  width: 100%;
}

#hero-secton .hero-img-wrapper .translate-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

#hero-secton .hero-img-wrapper .banner_shap {
  position: absolute;
  right: -40px;
  top: -30px;
  z-index: -1;
  -webkit-animation: move_shape_top 2s infinite;
          animation: move_shape_top 2s infinite;
}

#hero-secton .hero-img-wrapper .banner-box {
  text-align: center;
  background: #00158b;
  max-width: 175px;
  bottom: -20px;
  left: -30px;
  border-radius: 20px;
  color: #fff;
  position: absolute;
  -webkit-animation: move_shape_bottom 2s infinite;
          animation: move_shape_bottom 2s infinite;
}

#hero-secton .hero-img-wrapper .banner-box h3 {
  font-size: 2rem;
}

@-webkit-keyframes move_shape_top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

@keyframes move_shape_top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

@-webkit-keyframes move_shape_bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes move_shape_bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@media screen and (max-width: 992px) {
  #hero-secton {
    padding-top: 50px;
  }
}

/*[===============
      base style 
  ===============]*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.nav-link, a {
  text-decoration: none;
  color: #000;
}

.nav-link:hover, a:hover {
  color: #000;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.midSaleBg {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#00158b), color-stop(35%, #00158b), to(#00d4ff));
  background: linear-gradient(90deg, #00158b 0%, #00158b 35%, #00d4ff 100%);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  border-radius: 0.2rem;
}

.animate-text {
  background-image: linear-gradient(-225deg, #00158B 0%, #0075D5 29%, #004BBC 67%, #00C0CD 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textanim 2s linear infinite;
          animation: textanim 2s linear infinite;
  display: inline-block;
}

@keyframes textanim {
  to {
    background-position: 200% center;
  }
}

.rounded-img {
  border-radius: .8rem;
}

.main-title {
  line-height: 50px;
  font-size: 36px;
}

.info-text {
  font-size: 19px;
  line-height: 30px;
}

.py_100 {
  padding: 100px 0;
}

.fs-title {
  font-size: 2.5rem !important;
}

.sticky {
  position: fixed;
  z-index: 99;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background: #fff !important;
  top: 0;
  left: 0;
  width: 100%;
}

#glance {
  background: #d5d9f2;
}

#glance div {
  text-align: center;
}

#glance div span {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  display: block;
}

#glance .glance-box {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  background: #fff;
  text-align: center;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#glance .glance-box:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#glance .glance-box i {
  font-size: 2rem;
  color: #00158b;
}

#glance .glance-box h4 {
  font-weight: 700;
  font-size: 1.8rem;
}

#glance .glance-box span {
  font-size: 1rem;
  color: #333;
}

#solutation div p {
  padding: 0 20rem;
}

#solutation .portfolio-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#solutation .portfolio-link li {
  font-weight: 300;
  padding: 0.5rem 1.2rem;
  color: #00158b;
  font-size: 16px;
  border: 1px solid #d4ecd4;
  margin: 5px;
  background: #d5d9f2;
  line-height: 30px;
}

#solutation .portfolio-display img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  #solutation div p {
    padding: 0 10rem;
  }
}

@media screen and (max-width: 992px) {
  #solutation div p {
    padding: 0 3rem;
  }
}
/*# sourceMappingURL=main.css.map */