#about{
    padding: 70px 0;
    .about-content{
        span{
            color: $primary_color;
        }
        h2{
          span{
             color: #000;
          }
        }
        button{
            background: $primary_color;
            border: 1px solid $primary_color;
            padding: 0.5rem 1.2rem;
            font-size: 1rem;
            margin: 5px;
            border-radius: 2px;
            a{
                color: #fff;
            }
        }
    }
}