header {
    &::before {
        content: '';
        width: 900px;
        height: 900px;
        position: absolute;
        top: -190px;
        right: -80px;
        background: $secondary_color;
        transform: rotate(-13deg);
        border-radius: 50px;
        z-index: -1;
    }
    .offer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-wrapper {
        transition: all .3s ease-in-out;
        ul {
            li {
                margin: 0 .8rem;

                a {
                    font-weight: 500;
                    padding: 0.5rem 1.2rem;
                    color: #212529;
                    font-size: 17px;
                }
            }
        }
    }
}

