#testimonial{
    div{
       p{
        //  padding: 0 24rem;
       }
    }
    .testimonials-col{
      flex-basis: 50%;
      border-radius: 10px;
      margin-bottom: 5%;
      text-align: left;
      background: #d6d9eb;
      padding: 25px;
      cursor: pointer;
      display: flex;
  img{
      height: 70px;
      margin-left: 5px;
      margin-right: 30px;
      border-radius: 50%;
      width: 35% !important;
  }
  p{
      padding: 0;
  }
  h3{
      margin-top: 15px;
      text-align: left;
      font-size: 1.2rem;
      font-weight: 700;
  }
  .fa-star{
      color: $primary_color;
  }
  i.fas.fa-star-half-alt{
      color: $primary_color;
  }
}
    
}